.main__title {
  font-family: 'bakeryregular','aleo', 'arial', serif;
  font-size: 80px;
}
.main__btn {
  width: 195px;
  background: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 24px;
  padding: 10px;
  font-family: 'aleo', 'arial', serif;
  font-weight: bold;
}